<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>用户登录</title>
    </head>
<body>
    <h2>用户登录</h2>
    <h3 class="error_msg">{{msg_info}}</h3>
<form action="{% url 'author:login' %}" method="POST">
    {% csrf_token %}
<label for="username">账号：</label>
<input type="text" name="username" id="username"><br />
<label for="password">密码：</label>
<input type="text" name="password" id="password"><br />
<input type="submit" value="登录">
</form>
</body>
</html>